@using Microsoft.AspNetCore.Http;
@using GrantParkCoffeeShop2.Data.Entities
@using GrantParkCoffeeShop2.Data
@using Microsoft.EntityFrameworkCore;
@inject ApplicationDbContext DbContext

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GrantParkCoffeeShop2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!--<link rel="stylesheet" href="~/css/site.css" />-->
    <link rel="stylesheet" href="~/css/user.css" />
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">
    
    @RenderSection("Styles", false)

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm @*navbar-light*@ @*bg-white*@ border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand navbar-brand-color" asp-area="" asp-controller="Home" asp-action="Index">Grant Park Coffee Shop</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav navbar-nav-color">
                        @if (User.Identity.IsAuthenticated && User.IsInRole(RoleConstants.ADMIN))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Admin" asp-action="ByProduct">Monthly Sales Breakdown</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Admin" asp-action="Orders">Orders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Products" asp-action="Index">Products</a>
                            </li>
                        }

                        @{
                            if (User.Identity.IsAuthenticated && User.IsInRole(RoleConstants.USER))
                            {
                                var currentDate = new DateTime();
                                var reservation = await DbContext.RoomReservations.Include(x => x.Customer).FirstOrDefaultAsync(x => x.Customer.Email == User.Identity.Name && x.Date >= currentDate);

                                var reservationDate = reservation != null ? reservation.Date.ToLongDateString() : "None";

                                var rewardPoints = Context.Session.GetInt32("RewardPoints");
                                if (rewardPoints == null)
                                {
                                    var customer = await DbContext.Customers.FirstOrDefaultAsync(x => x.Email == User.Identity.Name);
                                    rewardPoints = customer.RewardPointsBalance;
                                    Context.Session.SetInt32("RewardPoints", rewardPoints.Value);
                                }

                                <li class="nav-item">
                                    <a class="nav-link text-decoration-none">
                                        <span>Room Reservation: @reservationDate</span>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark">
                                        <span>Reward Points: @rewardPoints</span>
                                    </a>
                                </li>
                            }
                        }
                        @if (!(User.Identity.IsAuthenticated && User.IsInRole(RoleConstants.ADMIN)))
                        {
                            <li class="nav-item">
                                @{
                                    var cartcount = Context.Session.GetInt32("CartCount");
                                    if (cartcount == null || cartcount == 0)
                                    {
                                        <a class="nav-link text-dark" asp-area="" asp-controller="ShoppingCart" asp-action="Index">Cart</a>
                                    }
                                    else
                                    {
                                        <a class="nav-link text-dark" asp-area="" asp-controller="ShoppingCart" asp-action="Index">Cart(@cartcount)</a>
                                    }
                                }
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav navbar-nav-color flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Menu</a>
                        </li>
                        @if (User.Identity.IsAuthenticated && User.IsInRole(RoleConstants.USER))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Order" asp-action="Index">Order History</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Customer" asp-action="RoomReservations">Room Reservations</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - GrantParkCoffeeShop2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
