@model IEnumerable<GrantParkCoffeeShop2.Models.Product>

@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Menu</h1>

<p>
    <a asp-action="Create"></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <br />
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <br />
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <br />
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>
               
        </tr>
}
    </tbody>
</table>
